* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
}

header,
main,
footer {
  max-width: 1440px;
  margin: 0 auto;
}

/* header */
header {
  height: 956px;
}

.mobile-text {
  display: none;
}

.header-menu {
  height: 676px;
  width: 100%;
  background: linear-gradient(to bottom, #919191 0%, #242424 90%);
}

.header-navigation {
  padding-top: 20px;
  position: relative;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 120px;
  height: 40px;
}

.logo {
  width: 40px;
  height: 40px;
  background-color: #ff9f34;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-name a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
}

.navmenu a {
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}
.header-description {
  position: relative;
}

.navmenu {
  display: flex;
  gap: 37px;
  position: absolute;
  top: 29px;
  left: 544px;
}

.login {
  display: flex;
  gap: 24px;
  position: absolute;
  top: 21px;
  right: 120px;
}

.login a {
  text-decoration: none;
  color: white;
}

.login-btn {
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
}

.sign-btn {
  font-size: 14px;
}
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 38px;
  border: 1px solid white;
}
.signup:hover {
  background-color: #ff9f34;
  border: none;
  transition: 0.3s;
}

.description-title {
  display: flex;
}

.description {
  width: 519px;
  margin-top: 100px;
  margin-left: 120px;
}

.description h1 {
  color: white;
  font-size: 52px;
  font-weight: 700;
}

.description p {
  margin-top: 16px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.description button {
  width: 165px;
  height: 56px;
  color: white;
  background-color: #ff9f34;
  border: none;
  font-size: 16px;
  font-weight: 500;
  margin-top: 32px;
  cursor: pointer;
}

.header-experience {
  height: 280px;
  background-color: #fff8f1;
  display: grid;
  grid-template-columns: 221px 202px 514px;
  gap: 131px;
  padding-top: 80px;
  padding-left: 120px;
}

.experience-desc {
  width: 514px;
  height: 96px;
}
.typo h2 {
  color: #1e1000;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.typo p {
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.5px;
}

.experience-desc {
  width: 480px;
  height: 96px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #1e1000b5;
}
.video-btn {
  display: none;
}
.video-container {
  position: absolute;
  top: 0px;
  left: 700px;
  width: 700px;
  max-width: 90%;
  aspect-ratio: 16 / 9;
  background: linear-gradient(to bottom, #747474 0%, #333333f5 90%);
  overflow: hidden;
}

#play-toggle {
  display: none;
}

video {
  width: 100%;
  height: 100%;
  display: none;
}

#play-toggle:checked + .play-btn + video {
  display: block;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  background: rgb(248, 246, 246);
  color: #000000;
  border-radius: 50%;
  font-size: 40px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#play-toggle:checked + .play-btn {
  display: none;
}

/* main team*/
.team-section {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 660px;
  width: 1320px;
  position: relative;
  margin-left: auto;
  margin-right: 0;
  margin-top: 180px;
}

.team-text {
  width: 1150px;
  height: 540px;

  background-color: #402613;
}

.team-text h2 {
  width: 445px;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.5px;
  color: #ffffff;
  padding-top: 52px;
  margin-left: 526px;
}

.team-desc {
  color: rgba(255, 255, 255, 0.71);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  width: 514px;
  height: 224px;
  margin-left: 526px;
}

.team-desc p {
  margin-top: 24px;
}

.team-image {
  width: 600px;
  height: 500px;
  background-color: #c4c4c4;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* main benefits */
.benefits {
  width: 1200px;
  height: 616px;
  margin: 0 auto;
  margin-top: 180px;
  position: relative;
}

.benefits-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0 auto;
  width: 536px;
  height: 120px;
}

.benefits-desc h4 {
  color: #121212;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.5px;
  width: 398px;
  height: 36px;
  margin-top: 52px;
}

.benefits-desc p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #1e1000b5;
  width: 356px;
  height: 64px;
  margin-top: 16px;
}
.advantages {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}
.benefits-advantages {
  width: 450px;
  height: 80px;
  border: 1px solid #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;
}
.icon {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #ff9f3414;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 14px;
  left: 14px;
}
.icon img {
  width: 32px;
  height: 32px;
}
.service-title {
  color: #1e1000;
  width: 170px;
  height: 27px;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  top: 11px;
  left: 82px;
}

.vector {
  cursor: pointer;
  position: absolute;
  top: 37px;
  left: 419px;
}

.service-description {
  font-size: 16px;
  font-weight: 400;
  color: #1e1000b5;
  position: absolute;
  left: 82px;
  top: 15px;
  padding-top: 8px;
}

.benefits-img {
  width: 698px;
  height: 444px;
  background-color: #c4c4c4;
  position: absolute;
  bottom: 0;
  right: 0;
}

.studies {
  padding: 50px 20px;
  width: 1224px;
  height: 636px;
  margin-left: 120px;
  margin-top: 180px;
  overflow: hidden;
}
.studies-title {
  display: flex;
  gap: 265px;
}

.studies h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.5px;
  width: 445px;
  height: 120px;
}
.studies p {
  width: 480px;
  height: 96px;
  padding-left: 5px;
  color: #1e1000b5;
}
.studies-img {
  width: 384px;
  height: 300px;
  background-color: #c4c4c4;
}

.studies-cards {
  display: grid;
  grid-template-columns: 380px 380px 380px;
  gap: 24px;
  margin-top: 40px;
}

.studies-card h2 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 8px;
  color: #1e1000;
}

.studies-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #1e1000b5;
  margin-top: 8px;
}

.date {
  font-size: 16px;
  color: #ff9f34;
  margin-top: 24px;
  display: block;
}
.questions-card {
  overflow-x: auto;
  margin-top: 180px;
  overflow: hidden;
  scroll-snap-align: start;
}
.questions-card {
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
.questions-card h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: #1e1000;
}

.answers {
  width: 444px;
  height: 58px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 180%;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  color: #1e1000b5;
}

.question-list {
  width: 1200px;
  height: 94px;
  margin-left: 120px;
  border: 1px solid #dddddd;
  position: relative;
}
.question-list img {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.questions-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 52px;
  scroll-snap-align: start;
}
.question {
  font-size: 20px;
  font-weight: 500;
  color: #1e1000;
  padding-top: 32px;
  padding-left: 40px;
}

.open-quest {
  height: 174px;
}
.answer {
  font-size: 16px;
  font-weight: 400;
  color: #aaaaaa;
  padding-top: 16px;
  padding-left: 40px;
}
